/* Typography */
:root {
  --color-primary: #eb335e;
  --color-secondary: #9233eb;
  --color-accent: #34eb74;
  --color-headings: #ebbd33;
  --color-text-primary: #b6b6b6;
  --color-text-secondary: #ececec;
  --color-link: #495057;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.4rem;
  line-height: 1.4;
  color: var(--color-text-primary);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 2.5rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

.link {
  color: var(--color-link);
  font-size: 2rem;
}

.link-course {
  text-transform: capitalize;
  font-weight: bold;
  white-space: nowrap;
}

.link-course__arrow {
  fill: var(--color-link);
  width: 3rem;
  height: 3rem;
  margin-left: 2px;
  display: inline-block;
  vertical-align: middle;
  transition: margin 0.15s;
}

.link:hover {
  color: var(--color-primary);
}

.link-course:hover .link-course__arrow {
  margin-left: 8px;
}

@media screen and (min-width: 1024px) {
  .link {
    font-size: 1.7rem;
  }

  .link-course__arrow {
    width: 2.7rem;
    height: 2.7rem;
  }
}

/* Lists */
.list {
    list-style: none;
    padding-left: 0;
    color: var(--color-text-secondary);
}

.list--inline .list__item{
    display: inline-block;
    margin-right: 2rem;
}

/* Buttons */
.btn {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin: 1rem 0;
    padding: 1rem 2rem;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    white-space: nowrap;
}

.btn--primary {
    background: var(--color-secondary);
    color: var(--color-text-secondary);
}

.btn--primary:hover {
    background: var(--color-primary);
}

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.5rem;
    }
}

/* Icons */
.icon {
    width: 3rem;
    height: 3rem;
}

.icon--primary {
    fill: var(--color-primary);
}

/* Inputs */
.input {
  padding: 1rem 1.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: 0;
  color: var(--color-headings);
  background-color: var(--color-link);
  font-size: 2rem;
  margin: 0.2rem;
}

::placeholder {
  color: var(--color-text-primary);
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group__link {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}