<nav class="nav collapsible">
      <!-- <ul class="list nav__list"> -->
        <!-- <div class="nav-test"> -->
          <!-- <li class="nav__item"> Logo -->
            <a href="/">
              <div class="logo-wrap">
                <svg class="icon icon--logo">
                  <use xlink:href="../Resources/sprite.svg#logohiking"></use>
                </svg>
              </div>
            </a>
        <!-- </div> -->
        <!-- </li> -->
        <!-- <li class="nav__item"> Courses -->
          <button class="btn">
            <svg class="icon nav__toggler" id="nav-menu-btn">
              <use xlink:href="../Resources/sprite.svg#booksmenu"></use>
            </svg>
          </button>  
          
          

          <ul class="list collapsible__content">

            <li class="nav__course">
              <a href="#" class="nav__link">
                <svg class="icon nav__icon">
                  <use xlink:href="../Resources/sprite.svg#guitar"></use>
                </svg>
                <span class="nav__text">Play Guitar</span>
              </a>
            </li>

            <li class="nav__course">
              <a href="#" class="nav__link">
                <svg class="icon nav__icon">
                  <use xlink:href="../Resources/sprite.svg#hearthbeat"></use>
                </svg>
                <span class="nav__text">Perform CPR</span>
              </a>
            </li>

            <li class="nav__course">
              <a href="#" class="nav__link">
                <svg class="icon nav__icon">
                  <use xlink:href="../Resources/sprite.svg#tent"></use>
                </svg>
                <span class="nav__text">Survive in Jungle</span>
              </a>
            </li>
            
          </ul>


        <!-- </li> -->
        <li class="nav__item nav__login collapsible__content"> <!--Sign-in-->
          <div class="input-group">
            <input type="text" class="input" placeholder="Enter email" />
            <input type="password" class="input" placeholder="Enter password" />
            <button class="btn btn--primary">login</button>
            <a href="../html/signup.html" class="link input-group__link">
              Don't have an account? Sign-Up</a
            >
          </div>
        </li> 
      </ul>



      
      
    </nav>